.projects-page {
  .projects {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    .project-wrapper {
      margin: 10px;
      width: 300px;
      .project-card {
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        padding: 15px;
        display: block;
        text-decoration: none;
        color: inherit; /* Ensures text color is inherited from parent */
        &:hover {
          transform: translateY(-8px);
          animation: 5s linear 0.1s colorIt;
        }
        .project-name {
          font-size: 1.25rem;
          margin: 0;
        }

        .project-description {
          padding: 10px 0;
          font-size: 0.875rem;
          color: #b0b0b0;
        }

        .project-technologies {
          padding: 10px 0;
          list-style: none;
          margin: 0;
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
        }

        .project-technology {
          background-color: #444;
          color: #e0e0e0;
          padding: 5px 10px;
          border-radius: 5px;
          font-size: 0.75rem;
        }
      }
    }
  }
  .github-link {
    text-align: center;
  }
  /* Responsive Design */
  @media (max-width: 600px) {
    .project-wrapper {
      width: 100%;
    }
  }
}
